.Container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.Container .Pizza {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
@media (min-width: 320px) and (max-width: 500px) {
  .Container .Pizza {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (min-width: 501px) {
  .Container .Pizza {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
.Container .Pizza .Crust {
  height: 300px;
  width: 300px;
  background: radial-gradient(#fae050 0%, #fae050 65%, #debd06 75%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 7px 4px grey;
  box-shadow: 0px 0px 7px 4px grey;
}
.Container .Pizza .Crust .Toppings {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background: radial-gradient(#fbf270 0%, #fbf270 65%, #db1212 70%);
  position: relative;
}

.Toppings:before {
  top: 170px;
  left: 150px;
}
.Toppings:after {
  top: 30px;
  left: 150px;
}

.AddIngredients {
  top: 100px;
  margin: auto;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
}
