.Paprika {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top: 10px solid #17ba0f;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #17ba0f;
  position: absolute;
  top: 45px;
  left: 45px;
}

.Paprika:before,
.Paprika:after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top: 10px solid #17ba0f;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #17ba0f;
  position: absolute;
}

.Paprika:before {
  top: 40px;
  left: 145px;
  transform: rotate(180deg);
}

.Paprika:after {
  top: 110px;
  left: 45px;
  transform: rotate(70deg);
}

.Pepperoni {
  background-color: #a33937;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 100px;
  box-shadow: 70px 30px 0 0 #a33937, -50px 50px 0 0 #a33937,
    -70px 130px 0 0 #a33937, 0px 160px 0 0 #a33937, 15px 90px 0 0 #a33937,
    100px 120px 0 0 #a33937;
}
.Pepperoni:after {
  content: '';
  width: 5px;
  height: 7px;
  background: #d17977;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 70px 30px 0 0 #d17977, -45px 70px 0 0 #d17977,
    -60px 130px 0 0 #d17977, 0px 160px 0 0 #d17977, 15px 90px 0 0 #d17977,
    120px 120px 0 0 #d17977, 80px 35px 0 0 #d17977, -35px 50px 0 0 #d17977,
    -65px 145px 0 0 #d17977, 15px 170px 0 0 #d17977, 25px 110px 0 0 #d17977,
    30px 100px 0 0 #d17977, 100px 130px 0 0 #d17977;
}

.Onion,
.Onion:before,
.Onion:after {
  content: '';
  background: radial-gradient(
    transparent 0%,
    transparent 59%,
    #ffffff 61%,
    #ffffff 63%,
    #9466cc 68%,
    #9466cc 75%
  );
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 50px;
}

.Onion:after {
  top: 30px;
  left: 150px;
}

.Olive {
  height: 16px;
  width: 16px;
  background-color: #38353d;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 80px;
  box-shadow: 90px -15px 0 0 #38353d, 50px 40px 0 0 #38353d,
    -50px 80px 0 0 #38353d, 0px 160px 0 0 #38353d, 90px 130px 0 0 #38353d;
}
.Olive:before {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #faed3e;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  box-shadow: 90px -15px 0 0 #faed3e, 50px 40px 0 0 #faed3e,
    -50px 80px 0 0 #faed3e, 0px 160px 0 0 #faed3e, 90px 130px 0 0 #faed3e;
}
